@using System.Security.Claims
@model OnlineBookStoreMVC.DTOs.BookDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row">
    <div class="col-5">

        <div>
            <h4>Book</h4>
            <hr />
            <h2>@Model.Title</h2>
            <dl class="row">
                <dt class="col-sm-2">Author</dt>
                <dd class="col-sm-10">@Model.Author</dd>

                <dt class="col-sm-2">Category</dt>
                <dd class="col-sm-10">@Model.CategoryName</dd>

                <dt class="col-sm-2">ISBN</dt>
                <dd class="col-sm-10">@Model.ISBN</dd>

                <dt class="col-sm-2">Publisher</dt>
                <dd class="col-sm-10">@Model.Publisher</dd>

                <dt class="col-sm-2">Price</dt>
                <dd class="col-sm-10">@Model.Price.ToString("N2")</dd>

                <dt class="col-sm-2">Language</dt>
                <dd class="col-sm-10">@Model.Language</dd>

                <dt class="col-sm-2">Pages</dt>
                <dd class="col-sm-10">@Model.Pages</dd>
            </dl>
        </div>
        <div>
            <div class="btn-group" role="group">
                <a asp-action="Index" class="btn btn-warning" style="display:inline;"><i class="fa-solid fa-arrow-left"></i> Back</a>

                <br />

                @if (Model.TotalQuantity > 0)
                {
                    <form asp-controller="ShoppingCart" asp-action="AddToCart" method="post" class="d-inline">
                        <input type="hidden" name="bookId" value="@Model.Id" />
                        <input type="hidden" name="userId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
                        <button type="submit" style="display:inline;" class="btn btn-secondary">
                            <i class="fa-solid fa-cart-plus me-2"></i>Add to Cart
                        </button>
                    </form>
                }
                else
                {
                    <span class="text-danger"><strong>Out of Store</strong></span>
                }
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="@Model.CoverImageUrl" class="w-100" />
    </div>
</div>
