@using System.Security.Claims
@model IEnumerable<OnlineBookStoreMVC.DTOs.BookDto>

@{
    ViewData["Title"] = "Store";
}

<h2 class="my-4 text-center">Browse Our Collection</h2>

<!-- Filter Form with Search Button -->
<div class="d-flex justify-content-between align-items-center mb-4">
    <!-- Search Form -->
    <form asp-action="Index" class="d-flex">
        <input type="text" id="searchString" name="searchString" placeholder="Search by Title or Author" class="form-control me-2" />
        <button type="submit" class="btn btn-primary">
            <i class="fa-solid fa-search"></i>
        </button>
    </form>
</div>
<!-- Book Listing -->
<div class="row row-cols-1 row-cols-md-4 g-4">
    @foreach (var book in Model)
    {
        <div class="col">
            <div class="card h-100 store-card shadow-sm">
                <a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@book.Id">
                    <img src="@book.CoverImageUrl" class="card-img-top card-img-custom" alt="@book.Title" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-center text-truncate">@book.Title</h5>
                        <p class="card-text text-center text-truncate">@book.AuthorName</p>
                        <p class="card-text text-center mt-auto">₦@book.Price.ToString("N2")</p>
                    </div>
                </a>
                <div class="card-footer text-center">
                    <form asp-controller="ShoppingCart" asp-action="AddToCart" method="post" class="d-inline">
                        <input type="hidden" name="bookId" value="@book.Id" />
                        <input type="hidden" name="userId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
                        <button type="submit" class="btn btn-primary store-btn w-100">
                            <i class="fa-solid fa-cart-plus me-2"></i>Add to Cart
                        </button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
