@model OnlineBookStoreMVC.DTOs.PaginatedDto<OnlineBookStoreMVC.DTOs.OrderDto>

@{
    ViewData["Title"] = "Order List";
}

<h2>@ViewData["Title"]</h2>

<a asp-action="AllPendingOrderSummaries" asp-controller="Order" class="btn btn-warning mb-3">View Pending Orders</a>
<a asp-action="GenerateReport" asp-controller="Report" class="btn btn-success mb-3">Generate Report</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>User</th>
            <th>Order Date</th>
            <th>Total Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Items)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.UserName</td>
                <td>@order.OrderDate.ToString("yyyy-MM-dd")</td>
                <td>@order.TotalAmount.ToString("N2")</td>
                <td>
                    <a asp-action="UserOrders" asp-route-userId="@order.UserId" class="btn btn-primary">View User Orders</a>
                    <a asp-action="OrderDetails" asp-route-id="@order.Id" class="btn btn-primary">View Order Detail</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav>
    <ul class="pagination justify-content-end">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a class="page-link" asp-action="ListOrders" asp-route-page="@i" asp-route-pageSize="@Model.PageSize">@i</a>
            </li>
        }
    </ul>
</nav>