@model OnlineBookStoreMVC.DTOs.BookDto

@{
    ViewData["Title"] = "Book Details";
}

<h1>Book Details</h1>

<div>
    <h2>@Model.Title</h2>
    <dl class="row">
        <dt class="col-sm-2">Cover Image</dt>
        <dd class="col-sm-10">
            <img src="@Model.CoverImageUrl" alt="Cover Image" style="max-width: 200px;" /></dd>

        <dt class="col-sm-2">Author</dt>
        <dd class="col-sm-10">@Model.AuthorName</dd>

        <dt class="col-sm-2">Category</dt>
        <dd class="col-sm-10">@Model.CategoryName</dd>

        <dt class="col-sm-2">ISBN</dt>
        <dd class="col-sm-10">@Model.ISBN</dd>

        <dt class="col-sm-2">Publisher</dt>
        <dd class="col-sm-10">@Model.Publisher</dd>

        <dt class="col-sm-2">Publication Date</dt>
        <dd class="col-sm-10">@Model.PublicationDate.ToShortDateString()</dd>

        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Price.ToString("N2")</dd>

        <dt class="col-sm-2">Language</dt>
        <dd class="col-sm-10">@Model.Language</dd>

        <dt class="col-sm-2">Pages</dt>
        <dd class="col-sm-10">@Model.Pages</dd>
    </dl>

    <h3>Reviews</h3>
    <ul>
    @foreach (var review in Model.Reviews)
    {
        <li>
            <strong>Rating:</strong> @review.Rating<br />
            <strong>Comment:</strong> @review.Comment
        </li>
    }
    </ul>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>








@* @model OnlineBookStoreMVC.DTOs.BookDto

@{
    ViewData["Title"] = "Book Details";
}

<h1>Book Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            ISBN
        </dt>
        <dd class="col-sm-10">
            @Model.ISBN
        </dd>
        <dt class="col-sm-2">
            Publisher
        </dt>
        <dd class="col-sm-10">
            @Model.Publisher
        </dd>
        <dt class="col-sm-2">
            Publication Date
        </dt>
        <dd class="col-sm-10">
            @Model.PublicationDate
        </dd>
        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @Model.Price
        </dd>
        <dt class="col-sm-2">
            Author
        </dt>
        <dd class="col-sm-10">
            @Model.AuthorName
        </dd>
        <dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
            @Model.CategoryName
        </dd>
        <dt class="col-sm-2">
            Pages
        </dt>
        <dd class="col-sm-10">
            @Model.Pages
        </dd>
        <dt class="col-sm-2">
            Language
        </dt>
        <dd class="col-sm-10">
            @Model.Language
        </dd>
        <dt class="col-sm-2">
            Cover Image URL
        </dt>
        <dd class="col-sm-10">
            @Model.CoverImageUrl
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
 *@